# argocd-password-reset.yaml
apiVersion: v1
kind: Secret
metadata:
  name: argocd-secret
  namespace: argocd
type: Opaque
data:
  admin.password: JDJhJDEwJFZYNE1RTnQydTEuRW8zOFZGWm00Yk92dXM1ZTV0eHhNcHlqSTZDY0F6NkJ1YVJWMlVIQ1hH 
  admin.passwordMtime: MjAyNS0xMS0xOVQwODo0NjoyNlo=

